<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Sliders</title>
      <link rel="stylesheet" href="../css/normalize.css">
      <link rel="stylesheet" href="../css/main.css">
      <script src="../js/vendor/jquery-2.0.3.min.js"></script>
      <script src="../js/vendor/jquery.backstretch.min.js"></script>
      <script src="../js/main.js"></script>
      <script src="../js/nw.js"></script>
  </head>
  <body>
  <div id="main">
    <div id="current" class="shadowed">
    </div>
    <aside>
      <ul class="flex-container">
        <li class="gallery shadowed flex-item">1</li>
        <li class="gallery shadowed flex-item">2</li>
        <li class="gallery shadowed flex-item">3</li>
        <li class="gallery shadowed flex-item">4</li>
        <li class="flex-item-total"><p>#Sliders</p><p><span id="photoNumber">7259</span> photos</p></li>
      </ul>  
    </aside>
    
  </div>
    
  </body>
</html>