<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Sliders</title>
      <link rel="stylesheet" href="../css/normalize.css">
      <link rel="stylesheet" href="../css/main.css">
      <script src="../js/vendor/jquery-2.0.3.min.js"></script>
      <script src="../js/vendor/jquery.backstretch.min.js"></script>
      <script src="../js/config.js"></script>
      <script src="../js/main.js"></script>
      <script src="../js/nw.js"></script>
      <link rel="stylesheet" href="../themes/lv/fonts/fonts.css">
      <link rel="stylesheet" href="../themes/lv/css/lv.css">
  </head>
  <body>
  <div id="main">
    <div id="current" class="shadowed">
      <img src="" width="100%" height="100%"/>
    </div>
    <aside>
      <ul class="flex-container">
        <ul class="flex-container">
        <li class="gallery shadowed flex-item"><img src="" class="next next-1"><img src="" class="current"></li>
        <li class="gallery shadowed flex-item"><img src="" class="next next-2"><img src="" class="current"></li>
        <li class="gallery shadowed flex-item"><img src="" class="next next-4"><img src="" class="current"></li>
        <li class="gallery shadowed flex-item"><img src="" class="next next-3"><img src="" class="current"></li>
        <li class="flex-item-total"><p>#LVRedSquare</p><p><span id="photoNumber">0</span> photos</p></li>
      </ul>  
    </aside>
    
  </div>
    
  </body>
</html>